body{
    font-family: shadows into light;
    background-color: #18F0EC;
    color: #A82B22
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Architects Daughter"; 
    font-size:2rem;
    text-align: center;
}

header{
    text-align: center;
}

/*Hero Section */

#hero, footer{
    color: #175699;
    border:2px solid #F09700;
    background-color:#0CF06B;
    text-align: center;
    padding: 2rem;
}

#hero img{
    width:10rem;
}

/*bio Section */

#bio{ 
    text-align: center;
}

/*Hobbies Section*/

#hobbies ul li:nth-child(odd){
    color: #F09700;
}



/* Gallery section*/

#gallery{

    border: 1rem solid #175699;
    margin: 1rem;

}

#gallery img {

    max-width: 100%;
    border: 1rem dotted #F09700;
    
}

#gallery figure{

    text-align: center;
    
}
