body{
    font-family: heebo;
    background-color: #18F0EC;
    color: #A82B22
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans"; 
    font-size:3rem;
}

header{
    text-align: center;
}

#hero, footer{
    color: #175699;
    border:2px solid #F09700;
    background-color:#0CF06B;
    text-align: center;
    padding: 2rem;
}

#hero img{
    width:10rem;
}

#bio{ 
    text-align: center;
}