body{
    font-family: shadows into light;
    background-color: #18F0EC;
    color: #A82B22
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Architects Daughter"; 
    font-size:2rem;
    text-align: center;
}

header{
    text-align: center;
}

/*Hero Section */

#hero, footer{
    color: #175699;
    border:2px solid #F09700;
    background-color:#0CF06B;
    text-align: center;
    padding: 2rem;
}

#hero img{
    width:10rem;
}

/*bio Section */

#bio{ 
    text-align: center;
}

/*Hobbies Section*/

#hobbies ul li:nth-child(odd){
    color: #F09700;
}



/* Gallery section*/

#gallery{

    border: 1rem solid #175699;
    margin: 1rem;

}

#gallery img {

    max-width: 100%;
    border: 1rem dotted #F09700;
    
}

#gallery figure{

    text-align: center;
    
}

/*Literature*/

#lit{

    border: 0.5rem solid #F09700;
    margin-bottom: 2rem;

}

#lit div{

    margin: 0 auto;
    max-width: 50rem;
    padding: 2rem;

}

#lit div p{

    padding: 0.1rem 0;
    clear: both;

}

#lit div p:nth-child(5n+1):first-letter {

    color: #175699;
    background-image: radial-gradient( #fff, #0CF06B);
    float: left;
    font-size: 3em;
    padding: 0.25em;
    line-height: 0.65;
    border:0.2rem solid #F09700;
    margin-right: 0.25em;
    margin-bottom: 0.01em;W
    float: left;
    

}
